
    body{
        background-color:gray;            
                  
      }

      table{
        background-color:white;

      }
      a:hover { 
        color: orange;
    }
    tbody tr:nth-child(odd) {

        background-color:rgb(146, 80, 221);
    }

    tbody tr:hover{

        background-color: rgb(194, 174, 137);
    }
    img:hover { 
        transform : scale(2);
    }
