
    body{
        background-color:rgb(241, 240, 241);            
                  
      }
      @media only screen and (max-width: 300px) {
        body {
            background-color: rgb(149, 211, 231);
        }}
        @media only screen and (max-width: 600px) {
            body {
                background-color: rgb(97, 122, 131);
            }
        }
        @media only screen and (max-width: 600px) {
            body {
                background-color: rgb(28, 90, 110);
            }
        }
        @media only screen and (max-width: 900px) {
            body {
                background-color: rgb(69, 41, 114);
            }
        }

      table{
        background-color:white;

      }
      a:hover { 
        color: rgb(233, 233, 233);
    }
    tbody tr:nth-child(odd) {

        background-color:rgb(159, 217, 250);
    }

    tbody tr:hover{

        background-color: rgb(172, 164, 149);
    }
    img:hover { 
        transform : scale(2);
    }
